---
page_title: "GPG Provider"
subcategory: ""
description: |-
  The GPG provider provides resources to generate a private/public key pair.
---

# GPG Provider

The GPG provider provides resources to generate a private/public key pair.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{tffile "examples/resources/gpg_private_key/resource.tf"}}
